<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESPONSIVE LOGIN MODAL</title>
    <div th:replace="fragments/common.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/login.css}" />
    <script th:src="@{/js/user/login.js}" type="text/javascript"></script>

</head>
<!-- 로그인 모달 연습 -->
<body>

    <input type="button" id="bt_view_login" value="로그인 모달창 열기">

    <div class="login_modal">

        <!-- 모달 최상위 -->
        <div class="login_title_text">
            <div> 로그인 </div>
        </div>
        <div class="login_close"><img th:src="@{/images/close.png}">
        </div>


        <form id="login_form" action="">
            <!-- 모달 회원가입 입력 부분 -->
            <input type="text" id="id_box" placeholder="아이디">
            <input type="text" id="pw_box" placeholder="비밀번호">
            <input type="submit" id="bt_login" value="로그인" />

        </form>



    </div>
    <div class="backon"></div>
</body>

</html>